.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10% auto;
}

.signup form {
    box-shadow: 0px 0px 10px #777;
    display: flex;
    flex-direction: column;
    width: 50%;
    
    padding: 50px;
    /* align-items: center; */
    border-radius: 8px;
}
.error{
    border: 1px solid red;
}
.signup form h2 {
    text-align: center;
    margin-bottom: 25px;
}

.signup form .formControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin: 12px auto;
    margin-bottom: 5px;
}

.signup form input {
    background-color: white;
    border-radius: 20px;
    border-width: 0.5px;
    border-color: #777;
    height: 26px;
    padding:0 10px
}

.signup form .errorMSG {
    color: red;

}

.signup form input:focus-visible,
.signup form input:focus-within,
.signup form input:visited,
.signup form input:active {
    background-color: white !important;
}

.signup form button {
    display: block;
    margin: 10px auto 0 auto;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 5px;
    width: 100px;
}
.signup form button:disabled{
    background-color: #777;
}

.signup form span {
    text-align: center;
    margin: 30px 0 20px;
}

.signup form a {
    color: black;
    font-weight: bold;
}

@media (max-width: 750px) {
    .signup form {
        box-shadow: 0px 0px 10px #777;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-bottom: 25px;
        padding: 50px;
        align-items: center;
        border-radius: 8px;
    }

    .signup form input {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .signup form .formControl {
        display: inline-table;
        /* justify-content: space-between; */
        /* align-items: center; */
        /* width: 55%; */
        margin: 0 auto;
        margin-bottom: 5px;
    }

}